{% extends 'layout.html' %}
{%block contant%}
<style>
    .row  a{
        color:white;
        text-decoration:none;
        text-align:center;
        padding-top:15px;
    }
</style>
<div class="row">
<h1 class="text-primary col-sm-6">AZHAGAR</h1>
<a href="{{url_for('add_dept')}}" class="col-sm-2 offset-2 btn btn-success">+ADD</a>
</div>
<hr>
<table class="table">
    <thead>
    <th>S.NO</th>
    <th>COURSE NAME</th>
    <th>COURSE CODE</th>
    <th>EDIT</th>
    <th>DELETE</th>
    </thead>
{%for i in data %}
    <tr>
    <td>{{loop.index}}</td>
    <td>{{i[0]}}</td>
    <td>{{i[1]}}</td>
    <td><a href="{{url_for('edit_dept',deptcode=i.dept_code)}}" class="text-info">Edit</a></td>
    <td><a href="{{url_for('delete_dept',deptcode=i.dept_code)}}" class="text-danger">Delete</a></td>
    </tr>
{% endfor %}
</table>
{%endblock%}
